* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #4406f0;
  }

header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color:slateblue; 
    height: 50px;
  }

header p {
  color: black;
  font-size: 30px;
  font-weight: 100;
  padding-right: 50px;
  padding-top: 10px;
}

h2, h4{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
    background-color: white;
  }

  h4 {
    padding-top: 20px;
  }

.score {
    text-align: left;
    padding-left: 50px;
    font-size: 40px;
  }

button {
    padding: 10px;
    font-size: 24px;
    background-color: #09d6f1;
    color: black;
    border-radius: 30px;
    margin: auto;
    display: block;
}

.cover {
  display: none;
}

.showAnswer {
  display:block;
}

.hideAnswer {
  display: none;
}

.wrapper{
  display: flex;
  color: rgb(240, 247, 255);
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px;
  font-size: larger;
  }


.start{
  justify-content: center;
  font-size: 30px;

  text-align: center;
}

.nextButton {

  font-size: 30px;
}

#question {
  font-size: 30px;
  
}

#answer-buttons {
  margin:auto;
}

#answerKey {
  color:darkcyan;
  font-size: 30px;
  border: 1px black solid;
  text-align: center;
}

/* High Scores */
#returnButton {
  position: absolute;
  top: 100px;
  left: 100px;
}

#returnButton:hover {
  background-color: coral;
}

#clear {
  position: absolute;
  right: 100px;
  top: 100px;
}

#clear:hover {
  background-color: coral;
}

.score-html {
  color:indianred;
  font-size: 30px;
  text-decoration: none;
}

.highScore {
  position:absolute;
  top: 100px;
  left: 100px;
}