* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #13a9f5;
  }

header{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #9fc3f1;
    height: 50px;
  }

header p {
  color: black;
  font-size: 30px;
  font-weight: 100;
  padding-right: 50px;
  padding-top: 10px;
}

h2, h4{
    text-align: center;
    font-size: 34px;
    font-weight: 700;
  }

  h4 {
    padding-top: 20px;
  }

  .score {
    text-align: left;
    padding-left: 50px;
    font-size: 40px;
  }

button {
    padding: 10px;
    font-size: 24px;
    background-color: #66f1f1;
    color: black;
    border-radius: 30px;
    margin: auto;
    display: block;
}

.cover {
  display: none;
}

.showAnswer {
  display:block;
}

.hideAnswer {
  display: none;
}

.questionCard {
    padding: 5px 5px 5px 5px;
    border-radius: 5%;
    justify-content: center;
  }

/* .btn-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
} */

.startButton{
  justify-content: center;
  font-size: 30px;
  margin:auto;
  text-align: center;
}

.nextButton {

  font-size: 30px;
}

#question {
  font-size: 30px;
  
}

#answer-buttons {
  margin:auto;
}

#answerKey {
  color:darkcyan;
  font-size: 30px;
  border: 1px black solid;
  text-align: center;
}